<link rel="stylesheet" media="screen" href="/static/css/custom.css">
<div class="jumbotron header-bgimg">
    <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" role="form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input id="id_username" type="text" name="username" placeholder="Email" class="form-control" maxlength="254">
            </div>
            <div class="form-group">
                <input id="id_password" type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Вход</button>
        </form>
    </div>
    {#<div class="container"><h1><a class="navbar-brand" href="#">!!!</a></h1></div>#}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="masthead">
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Главная</a></li>
          <li><a href="#">P</a></li>
          <li><a href="#">S</a></li>
          <li><a href="#">D</a></li>
          <li><a href="#">A</a></li>
          <li><a href="#">C</a></li>
        </ul>
    </div>
</div>