{% extends 'base.html' %}

{% block middle %}
<div class="middlecontentblock">
    <div class="promoblockspart">
        <div class="textblock" style="background: none repeat scroll 0 0 #E3E3E3;">
            <h3>Шаблоны документов</h3>
            <p>Находится в разработке</p>
        </div>

        <div class="textblock" style="background: none repeat scroll 0 0 #E3E3E3;">
            <h3>Медиаархив</h3>
            <p>Находится в разработке</p>
        </div>
    </div>

    <div class="newsbar" style="background: none repeat scroll 0 0 #FF8200; color:  #fff;">
        <h3>Интерактивный план комплекса</h3>
        <p>Находится в разработке</p>
    </div>
    <div class="clear"></div>
    <div class="newsbar" style="background: none repeat scroll 0 0 #02589B;color:  #fff;">
        <h3>Телефонный справочник</h3>
        <p>Находится в разработке</p>
    </div>
    <div class="clear"></div>
    <div class="newsbar">
        <h3>Подача заявок</h3>
        <p>Находится в разработке</p>
    </div>

</div>
{% endblock %}