{% extends 'base.html' %}

{% block middle %}
<div class="middlecontentblock">
    <div class="promoblockspart">
        <div class="newsbar">
            {% include 'partial/newsbar.html' with newsbar_title='Шаблоны документов' list=docs_galleries bottom_color='E3E3E3' bottom_link_color='000' link='gallery:docs_gallery_list' %}
        </div>
        <div class="newsbar">
            <h3>Шаблоны документов</h3>
            <p>Находится в разработке</p>
            <div class="subscribeblock" style="background: none repeat scroll 0 0 #E3E3E3;"></div>
        </div>

        <div class="newsbar">
            <h3>Медиаархив</h3>
            <p>Находится в разработке</p>
            <div class="subscribeblock" style="background: none repeat scroll 0 0 #E3E3E3;"></div>
        </div>
    </div>

    <div class="newsbar">
        <h3>Интерактивный план комплекса</h3>
        <p>Находится в разработке</p>
        <div class="subscribeblock" style="background: none repeat scroll 0 0 #FF8200; color:  #fff;"></div>
    </div>
    <div class="newsbar">
        <h3>Телефонный справочник</h3>
        <ul class="newsbarlist">
            {% for user in phones_info %}
                <li class="newsbaritem">
                    <p>{{user.get_full_name}}({{user.post|default:'без должности'}}): {{user.phone}}</p>
                </li>
            {% empty%}
            <li class="newsbaritem">Справочник пуст.</li>
            {% endfor %}
        </ul>
        <div class="subscribeblock" style="background: none repeat scroll 0 0 #02589B;color:  #fff;"></div>
    </div>
    <div class="newsbar">
        <h3>Подача заявок</h3>
        <p>Находится в разработке</p>
        <div class="subscribeblock"></div>
    </div>

</div>
{% endblock %}