{% extends 'basecontent.html' %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
        <div class="sideblock bluebanner">
            <section class="sideblocktext centertext">
                <div class="clear"></div>
            </section>
        </div>
        <div class="sideblock">
        </div>
    </div>
    <div class="mainblock">
        <div class="textblock">
        <ul class="newslist">
            {% for n in news %}
            <li class="newsitem">
                <div class="newstimeblock"><time>{{n.created}}</time></div>
                <div class="newsitemtext">
                    <h3>{{n.tittle}}</h3>
                    {{n.content|safe}}
                </div>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
</div>
{% endblock %}