{% extends 'index.html' %}

{% block middle %}
<div class="middlecontentblock">
    <div class="promoblockspart">
        <div class="textblock">
            <h3>Доска объявлений</h3>
            <p>Находится в разработке</p>
        </div>

        <div class="textblock">
            <h3>График отпусков</h3>
            <p>Находится в разработке</p>
        </div>
    </div>

    <div class="newsbar">
        <h3>Новые сотрудники, ДР</h3>
        <p>Находится в разработке</p>
    </div>
    <div class="clear"></div>
    <div class="newsbar">
        <h3>Оргструктуры</h3>
        <p>Находится в разработке</p>
    </div>
</div>
{% endblock %}