{% extends 'base.html' %}
{% load mptt_tags %}

{% block middle %}
<div class="middlecontentblock">
    {% if birthday_users or new_users %}
    <div class="mediablock newsbar">
        {% if new_users %}
        <h3>Новые сотрудники</h3>
            <ol>
            {% for user in new_users %}
                <li>{{user.get_full_name}} <time>{{user.date_joined}}</time></li>
            {% endfor %}
            </ol>
        {% endif %}

        {% if birthday_users %}
        <h3>ДР</h3>
            <ol>
            {% for user in birthday_users %}
                <li>{{user.get_full_name}} <time>{{user.date_of_birth}}</time></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endif %}

    <div class="mediablock newsbar">
        <h3>Оргструктура</h3>
        {% full_tree_for_model main.CompanyStructure as nodes %}
        {% if nodes %}
        <ul class="root">
        {% recursetree nodes %}
            <li>
                {{ node.name }}
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
        {% endif %}
        </ul>
    </div>

    <div class="mediablock bulletinboard">
        {% include 'partial/newsbar.html' with newsbar_title='Объявления' list=ads icon='bulletinicon' link='main:ads_list' %}
    </div>


    <div class="mediablock newsbar">
        <h3>График отпусков</h3>
        <ol>
        {% for vac in on_vacations %}
            <li>{{vac.user}} с <time>{{vac.start_date}}</time> по <time>{{vac.end_date}}</time></li>
        {% empty %}
            <li> --- </li>
        {% endfor %}
        </ol>
    </div> 
    <div class="clear"></div>     
</div>
{% endblock %}