<section class="bottomnav">
    <div class="container">
        <div class="column3">
            <ul class="bottomlinkslist">
                <li><a href="#"><b>О компании</b></a></li>
                <li><a href="#">Миссия</a></li>
                <li><a href="#">История</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">СМИ о нас</a></li>
                <li><a href="#">Медиа-банк</a></li>
                <li><a href="#">Руководство</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты подразделений</a></li>
            </ul>
            <ul class="bottomlinkslist">
                <li><a href="#"><b>Новости</b></a></li>
                <li><a href="#">Новости компании</a></li>
                <li><a href="#">Новости выставок</a></li>
            </ul>
            <ul class="bottomlinkslist">
                <li><a href="#"><b>О Санкт-Петербурге</b></a></li>
            </ul>
        </div>
        <div class="column3">
            <ul class="bottomlinkslist">
                <li><a href="#"><b>Посетителям</b></a></li>
                <li><a href="#">Сервисы</a></li>
                <li><a href="#">Онлайн-регистрация на мероприятие</a></li>
                <li><a href="#">Организация поездки</a></li>
            </ul>
            <ul class="bottomlinkslist">
                <li><a href="#"><b>Прессе</b></a></li>
                <li><a href="#">Пресс-релизы</a></li>
                <li><a href="#">Аккредитация</a></li>
                <li><a href="#">Пресс-центр</a></li>
                <li><a href="#">Организация поездки</a></li>
            </ul>
            <ul class="bottomlinkslist">
                <li><a href="#"><b>Участникам</b></a></li>
                <li><a href="#">Общие условия участия</a></li>
                <li><a href="#">Онлайн-заявка на участие</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Электронные каталоги</a></li>
            </ul>
        </div>
        <div class="column3">
            <ul class="bottomlinkslist">
                <li><a href="#"><b>Организаторам</b></a></li>
                <li><a href="#">Преимущества центра</a></li>
                <li><a href="#">Конгресс-центр</a></li>
                <li><a href="#">Выставочные павильоны</a></li>
                <li><a href="#">Рестораны и кафе</a></li>
                <li><a href="#">Мероприятия</a></li>
                <li><a href="#">Подбор помещения</a></li>
                <li><a href="#">Онлайн-заявка на организацию мероприятия</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Документация</a></li>
            </ul>
            <ul class="bottomlinkslist">
                <li><a href="#"><b>Календарь событий</b></a></li>
            </ul>
            <ul class="bottomlinkslist">
                <li><a href="#"><b>Как добраться</b></a></li>
            </ul>
            <ul class="bottomlinkslist">
                <li><a href="#"><b>План и инфраструктура комплекса</b></a></li>
            </ul>
        </div>
    </div>
</section>