{% if type %}
<div class="middlecontentblock">
    <div class="promoblockspart">
        {% if ad %}
        <div class="textblock">
            <p><time>{{ad.created}}</time> Объявление</p>
            {{ad.content|safe}}
        </div>
        {% endif %}

        {% if contest %}
        <div class="textblock">
            <p><time>{{contest.created}}</time> Конкурс</p>
            {{contest.content|safe}}
        </div>
        {% endif %}
    </div>
    {% include 'partial/newsbar.html' %}
    {# include 'partial/partners.html' #}
</div>
{% else %}
<div class="middlecontentblock">
    {% block sidebar %}
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
        <div class="sideblock bluebanner">
            <section class="sideblocktext centertext">
                <div class="clear"></div>
            </section>
        </div>
        <div class="sideblock">
        </div>
    </div>
    {% endblock %}
    <div class="mainblock">
        <div class="textblock">
        {% block detail_page %}
            <p><time>{{ detail_page.created }}</time></p>
            <p>{{ detail_page.title }}</p>
            {% block content %}
                {{detail_page.content|safe}}
            {% endblock %}
        {% endblock %}
        </div>
    </div>
</div>
{% endif %}