<div class="partnersblock">
    <h3>Партнеры</h3>
    <div class="partnersview" id="partners">
        <ul class="partnerslist">
            <li class="partnerscell">
                <a href="#" class="partnerbox"><img src="/static/images/partner1.png" alt="pertner1"></a>
                <a href="#" class="partnerbox"><img src="/static/images/partner2.png" alt="pertner2"></a>
            </li>
            <li class="partnerscell">
                <a href="#" class="partnerbox"><img src="/static/images/partner3.png" alt="pertner3"></a>
                <a href="#" class="partnerbox"><img src="/static/images/partner4.png" alt="pertner4"></a>
            </li>
            <li class="partnerscell">
                <a href="#" class="partnerbox"><img src="/static/images/partner5.png" alt="pertner5"></a>
                <a href="#" class="partnerbox"><img src="/static/images/partner6.png" alt="pertner6"></a>
            </li>
            <li class="partnerscell">
                <a href="#" class="partnerbox"><img src="/static/images/partner1.png" alt="pertner1"></a>
                <a href="#" class="partnerbox"><img src="/static/images/partner2.png" alt="pertner2"></a>
            </li>
            <li class="partnerscell">
                <a href="#" class="partnerbox"><img src="/static/images/partner3.png" alt="pertner3"></a>
                <a href="#" class="partnerbox"><img src="/static/images/partner4.png" alt="pertner4"></a>
            </li>
            <li class="partnerscell">
                <a href="#" class="partnerbox"><img src="/static/images/partner5.png" alt="pertner5"></a>
                <a href="#" class="partnerbox"><img src="/static/images/partner6.png" alt="pertner6"></a>
            </li>
            <li class="partnerscell">
                <a href="#" class="partnerbox"><img src="/static/images/partner1.png" alt="pertner1"></a>
                <a href="#" class="partnerbox"><img src="/static/images/partner2.png" alt="pertner2"></a>
            </li>
            <li class="partnerscell">
                <a href="#" class="partnerbox"><img src="/static/images/partner3.png" alt="pertner3"></a>
                <a href="#" class="partnerbox"><img src="/static/images/partner4.png" alt="pertner4"></a>
            </li>
            <li class="partnerscell">
                <a href="#" class="partnerbox"><img src="/static/images/partner5.png" alt="pertner5"></a>
                <a href="#" class="partnerbox"><img src="/static/images/partner6.png" alt="pertner6"></a>
            </li>
        </ul>
    </div>
    <a href="#" class="partnersnav prev" id="prevslide">&lt;</a>
    <a href="#" class="partnersnav next" id="nextslide">&gt;</a>
</div>